<% include partials/header %>
<body>
	<div class="col-md-4"></div><div class="col-md-4 box text">
	<h1>SIGN UP</h1>
	<form action="/create" method="post">
		<p>Your Username:</p>
		<input class="input" type="text" name="username" >
		<p>Your Password:</p>
		<input class="input"type="password" name="password">
		<input class="btn btn-primary btn-sm input" type="submit">
	</form>

		<% if(typeof message !== 'undefined') {%>
		<div class="alert alert-danger">
		<%= message %>
		</div>
		<% }%>

<p>
	Already have an account? Log in <a href="/login">here</a>.
</p>
</div>
</body> 
</html>